# Ignorar tudo
*

# Permitir arquivos HTML, CSS e JavaScript
!*.html
!*.css
!*.js

# Ignorar diretórios, exceto os que contêm arquivos permitidos
!*/.DS_Store
applet
application.linux-arm64
application.linux-armv6hf
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
out
