body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: blue;
}

.container {
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    color: white;
}

.item {
    display: none; /* Esconde inicialmente todas as imagens */
    margin: 10px 0;
}

.item img {
    width: 440px;
    height: 370px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    width: 250px;
    border-radius: 50px;
    font-size: 14px;
    margin-bottom: 2rem;
}

button:hover {
    background-color: red;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50%; /* Mantém a borda arredondada */
    padding: 10px; /* Adiciona um espaço interno */
    background-color: blue; /* Cor de fundo */
}

/* Ajuste do logo */
.imglogo {
    width: 100%; /* Ajusta a largura da imagem */
    max-width: 400px; /* Tamanho máximo para telas grandes */
    height: auto; /* Mantém a proporção */
    border-radius: 60%; /* Borda arredondada para a imagem */
    margin-left: 3rem; /* Margem à esquerda */
}

/* Media Queries para redimensionar o logo */
@media (min-width: 601px) and (max-width: 900px) {
    .imglogo {
        max-width: 150px; /* Reduz o tamanho do logo em tablets */
    }
}

@media (max-width: 600px) {
    .imglogo {
        max-width: 100px; /* Reduz ainda mais em dispositivos móveis */
    }
}

.contato {
    display: flex;
    flex-direction: row;
    font-size: 34px;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 10px;
    color: white;
    background-color: black;
    width: 100%;
}

h5 {
    font-size: small;
}

i {
    font-size: 34px;
    color: white;
}

.adresimg {
    width: 110px;
}

h1 {
    color: white;
    margin-left: 2rem;
    opacity: 0; /* Começa invisível */
    animation: fadeIn 2s forwards; /* Aplica a animação */
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Começa com opacidade 0 */
        transform: translateY(-20px); /* Move para cima */
    }
    to {
        opacity: 1; /* Termina com opacidade 1 */
        transform: translateY(0); /* Volta à posição original */
    }
}

/* Estilos padrão */
h1 {
    font-size: 24px;
}

/* Estilos para tablets (largura entre 601px e 900px) */
@media (min-width: 601px) and (max-width: 900px) {
    h1 {
        font-size: 32px;
    }
}

/* Estilos para desktops (largura acima de 900px) */
@media (min-width: 901px) {
    h1 {
        font-size: 40px;
    }
}
